@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.app__form {
  position: fixed;
  bottom: 0;
  background-color: #e9e9eb;
  left: 0;
  z-index: 1;
  width: 100%;

}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  margin: 0 5px !important;
  margin-bottom: 20px !important;
  margin-top: 6px !important;
}

.app__iconButton {
  flex: 0;
}

.app__input {
  flex: 1;
  padding: 5px;
}

.app__msgContainer {
  padding-bottom: 6em;
}

.app__header{
  position: sticky;
  top: 0;
  background-color: #e9e9eb;
  z-index: 1;
}

.app__h1 {
  padding: 0.2em 0;
  font-family:Geneva;
}

.app__h4{
  background-color: #e9e9eb;
  letter-spacing: 2px;
  padding-bottom: 0.8em;
}

.app__date{
  letter-spacing: 0.1em !important;
  font-size: 0.7em !important;
  padding: 0.7em;
  position: sticky;
  top: 90px;
  background-color: #e9e9eb;
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px !important;
}